@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #FAFBFF;
}

.section1 {
    background: linear-gradient(292.12deg, #62BADA -35.02%, #C9E7F2 78.96%);
    height: 55rem;
    position: relative;
    overflow: hidden;

    .navbar {
        display: flex;
        justify-content: space-around;
        padding: 2.375rem 0;
        align-items: center;

        .logoname {
            font-family: 'Red Hat Display';
            font-size: 1.0625rem;
        }

        .menu {
            width: 21.875rem;
            display: flex;
            justify-content: center;

            .menu-items {
                display: flex;
                width: 100%;
                list-style: none;
                justify-content: space-around;

                .dropdown {
                    display: flex;
                    gap: 0.9375rem;


                }
            }
        }

        li {
            a {
                text-decoration: none;
                color: black;
                font-family: manrope;
                font-size: 0.875rem;
                font-weight: 500;
            }
        }

        .signup {
            width: 15.625rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                color: black;
                font-family: manrope;
                font-size: 0.875rem;
                text-decoration: none;
                font-weight: 500;
            }

            .menu-btn {
                width: 8.5625rem;
                height: 3.25rem;
                display: flex;
                background: var(--Pallet-3-Primary, #4F46BA);
                color: white;
                justify-content: center;
                align-items: center;
            }
        }

    }

    .content {
        display: flex;
        max-height: 82%;
        position: relative;
        justify-content: space-between;

        .dotted-left {
            display: flex;
            align-items: flex-end;
            margin: 0rem 1rem 0rem 0px;
        }

        .content-text {
            width: 40.375rem;
            padding: 1.1rem 0;

            h1 {
                width: 100%;
                font-family: Manrope;
                font-size: 3.75rem;
                font-weight: 900;
                margin-top: 5.8rem;
                letter-spacing: -1.8px;
            }

            .subtext {
                width: 80%;
                font-family: Manrope;
                font-size: 1.25rem;
                color: #64607D;
                font-weight: 500;
                margin-top: 1.9rem;
                letter-spacing: -0.025rem;
            }

            .content-btn {
                display: flex;
                align-items: center;
                margin: 4.5625rem 0;
                gap: 3rem;

                .blue-btn {
                    color: white;
                    background-color: #3734A9;
                    padding: 0.9375rem 2.375rem;
                    font-family: Manrope;
                    border-radius: 2.9375rem;
                    letter-spacing: -0.32px;
                }

                .see-link {
                    font-family: Manrope;
                    font-size: 1.0625rem;
                    color: var(--Pallet-4-Primary, #3734A9);
                    font-weight: 500;
                    gap: 0.6875rem;
                    letter-spacing: -0.34px;
                }
            }

            .checkboxes {
                display: flex;
                gap: 2.5rem;

                p {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    color: #757095;
                    font-family: Manrope;
                    font-size: 1.0625rem;
                    letter-spacing: -0.34px;
                }
            }
        }

        .content-img {
            position: relative;
            left: 0.6875rem;

            .lefthand {
                position: absolute;
                top: 1.125rem;
                left: -4.6875rem;
                z-index: 10;
            }

            .dashsvg {
                position: absolute;
                top: 30rem;
                left: 10.0625rem;
                z-index: 5;
            }

            .righthand {
                position: relative;
                top: 11.875rem;
                left: 0rem;
            }

        }

        .dotted-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;

            .crossright {
                width: 7.8835rem;
                height: 7.12425rem;
                right: -12.1875rem;
                top: 4.375rem;
                flex-shrink: 0;
                position: relative;
            }

            .bluefill {
                width: 18.8043125rem;
                height: 13.6474375rem;
                flex-shrink: 0;
                position: relative;
                right: -6.25rem;
                top: 10.8125rem;
            }
        }
    }
}

.clients {
    background: #F5F6F8;
    padding: 4rem 0 4.8125rem 0;

    .clients-text {
        font-family: manrope;
        font-size: 1.375rem;
        text-align: center;
        font-weight: 500;
        padding-bottom: 3.125rem;
    }

    .clients-logos {
        display: flex;
        justify-content: center;
        gap: 3.125rem;

        img {

            object-fit: contain;
        }
    }
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5.9375rem 9.6875rem 0rem 9.6875rem;

    .section-heading {
        display: flex;
        display: flex;
        gap: 5.3125rem;

        .heading h2 {
            width: 42.875rem;
            padding: 0 2.8125rem 0.75rem 0;
            font-family: Manrope;
            font-size: 3.5rem;
            font-weight: 800;
        }

        .heading p {
            width: 28.0625rem;
            font-family: Manrope;
            font-weight: 500;
        }

        .testemonial {
            width: 25.125rem;
            height: 12.8125rem;
            flex-shrink: 0;
            border-radius: 1.25rem;
            // opacity: 0.3;
            background: #c4c4c445;
            position: relative;
            padding: 2.375rem 2.125rem;

            img {
                position: relative;
                bottom: 3.75rem;
                opacity: 1;
            }

            .quote-text {
                margin-top: -2.25rem;
                opacity: 1;
                font-family: Manrope;
                font-size: 0.9375rem;
                font-weight: 600;
                letter-spacing: -0.3px;
            }

            .quote-author {
                margin-top: 1.375rem;
                opacity: 1;
                font-family: Manrope;
                font-size: 0.9375rem;
                font-weight: 600;
                letter-spacing: -0.3px;
            }
        }
    }

    .value-props {
        display: flex;
        width: 75rem;
        margin-top: 4.6875rem;
        gap: 1.875rem;

        .prop-card {
            border-radius: 1.25rem;
            border: 0.0625rem solid #DBE4E9;
            background: #FFF;
            width: 23.75rem;
            height: 23.875rem;
            flex-shrink: 0;
            padding: 1.3rem;
            display: flex;
            flex-direction: column;
            gap: 1.125rem;

            .id {
                color: #000;
                font-family: Manrope;
                font-size: 1.375rem;
                font-style: normal;
                font-weight: 800;

            }

            img {
                margin: 1.7rem 1.5rem 1rem 1.5rem;
                width: 3.125rem;
                height: 2.8125rem;
                flex-shrink: 0;
                align-self: center;
            }

            h3 {
                width: 17.25rem;
                color: #000;
                text-align: center;
                font-family: Manrope;
                font-size: 1.875rem;
                font-weight: 800;
                align-self: center;
                letter-spacing: -0.9px;
            }

            .subtext {
                align-self: center;
                width: 16.875rem;
                color: #757095;
                text-align: center;
                font-family: Manrope;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.625rem;
                /* 185.714% */
                letter-spacing: -0.28px;
            }
        }
    }

    .section-content {
        position: relative;
        display: flex;
        padding-top: 5.625rem;
        gap: 10rem;

        .usercard {
            width: 33.1875rem;
            height: 31.25rem;
            flex-shrink: 0;
            background-color: #dcf3fc;
            display: flex;
            flex-direction: column;
            gap: 1.875rem;
            border-radius: 1.25rem;
            padding-top: 3.4375rem;

            .paymentbox {
                padding-left: 1.25rem;
                width: 27.0625rem;
                height: 5rem;
                flex-shrink: 0;
                border-radius: 0.625rem;
                background: #FFF;
                box-shadow: 0rem 0.11575rem 0.19675rem 0rem rgba(0, 0, 0, 0.01), 0rem 0.50925rem 0.4074375rem 0rem rgba(0, 0, 0, 0.01), 0rem 1.25rem 0.8125rem 0rem rgba(0, 0, 0, 0.01), 0rem 2.4074375rem 1.5925625rem 0rem rgba(0, 0, 0, 0.02), 0rem 4.0509375rem 2.92825rem 0rem rgba(0, 0, 0, 0.02), 0rem 6.25rem 5rem 0rem rgba(0, 0, 0, 0.03);
                display: flex;
                align-items: center;
                gap: 0.625rem;
                ;

                img {
                    object-fit: contain;
                }

                .payment {
                    .amount {
                        color: var(--Pallet-4-Primary, #3734A9);
                        font-family: "Red Hat Display";
                        font-size: 0.9375rem;
                        font-style: normal;
                        font-weight: 700;
                        border-radius: 1.875rem;
                        padding: 0.3125rem 0.875rem;
                        background: var(--Pallet-4-Primary, rgba(56, 52, 169, 0.21));
                        width: -moz-fit-content;
                        width: fit-content;

                    }

                    .recieved-text {
                        color: #757095;
                        font-family: Manrope;
                        font-size: 0.875rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 1.875rem;
                        /* 214.286% */
                        letter-spacing: -0.28px;
                    }
                }
            }

            #user1 {
                position: relative;
                left: 3.75rem;
            }

            #user2 {
                position: relative;
                left: 10.25rem;
            }

            #user3 {
                position: relative;
                left: 6.875rem;
            }

            #user4 {
                position: relative;
                left: 2.5rem;
            }

        }

        .circlesvg {
            position: absolute;
            top: 4.5625rem;
            right: 39.5rem;
        }

        .content {
            p {
                color: #505887;
                font-family: Manrope;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 500;
                width: 27.875rem;
                letter-spacing: -0.36px;
            }

            .line {
                width: 30.625rem;
                height: 0.125rem;
                flex-shrink: 0;
                background: #C4C4C4;
                margin: 1.4375rem 0;
            }

            .checkbox-yellow {
                display: flex;
                gap: 0.3125rem;
                padding: 0.7rem 0;
            }
        }
    }

    .section-content2 {
        display: flex;
        padding: 12.375rem 0 6rem 0;
        position: relative;
        justify-content: space-between;
        width: 100%;

        .content {
            .testemonial {
                width: 31.5625rem;
                height: 10.3125rem;
                border-radius: 1.25rem;
                background: rgba(196, 196, 196, 0.2705882353);
                position: relative;
                padding: 2.375rem 2.125rem;
                margin-top: 3.5rem;


                img {
                    position: relative;
                    bottom: 3.75rem;
                    opacity: 1;
                }

                .quote-text {
                    margin-top: -2.25rem;
                    opacity: 1;
                    font-family: Manrope;
                    font-size: 0.9375rem;
                    font-weight: 600;
                    width: 100%;
                    letter-spacing: -0.3px;
                    color: #000;
                }

                .quote-author {
                    margin-top: 1.375rem;
                    opacity: 1;
                    font-family: Manrope;
                    font-size: 0.9375rem;
                    font-weight: 600;
                    letter-spacing: -0.3px;
                    color: #000;
                }
            }

            p {
                color: #505887;
                font-family: Manrope;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 500;
                width: 25.875rem;
                letter-spacing: -0.36px;
            }
        }

        .graphics {
            display: flex;
            width: 32.25rem;
            position: relative;

            .dash {
                position: absolute;
                left: -2.5rem;
                top: 2.8125rem;
                z-index: 7;
            }

            .graphics-container {
                width: 30.375rem;
                height: 33.75rem;
                flex-shrink: 0;
                border-radius: 0.625rem;
                background: #DBF1FA;
                position: relative;

                .stats {
                    position: absolute;
                    width: 21.0625rem;
                    height: 14.56175rem;
                    flex-shrink: 0;
                    border-radius: 0.625rem;
                    background: #FFF;
                    box-shadow: 0rem 0.1605rem 0.272875rem 0rem rgba(0, 0, 0, 0.01), 0rem 0.70625rem 0.565rem 0rem rgba(0, 0, 0, 0.01), 0rem 1.7335625rem 1.1268125rem 0rem rgba(0, 0, 0, 0.01), 0rem 3.3386875rem 2.2086875rem 0rem rgba(0, 0, 0, 0.02), 0rem 5.6179375rem 4.061rem 0rem rgba(0, 0, 0, 0.02), 0rem 8.6676875rem 6.9341875rem 0rem rgba(0, 0, 0, 0.03);
                    z-index: 5;
                    bottom: 5.25rem;
                    left: -5.375rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 1.4375rem 1.1875rem;

                    .balance {
                        .total-balance {
                            color: #000;
                            font-family: Manrope;
                            font-size: 1.25rem;
                            font-style: normal;
                            font-weight: 500;
                        }

                        .dollar-balance {
                            color: #000;

                            font-family: Manrope;
                            font-size: 1.3868125rem;
                            font-style: normal;
                            font-weight: 700;

                            .growth {
                                color: var(--Pallet-4-Secondary, #00E1F0);
                                font-family: Manrope;
                                font-size: 1.125rem;
                                font-style: normal;
                                font-weight: 500;
                            }
                        }

                    }

                    .stat {

                        display: flex;
                        align-items: flex-end;

                        .ks {
                            display: flex;
                            gap: 0.625rem;
                            flex-direction: column;
                            padding-bottom: 0.9375rem;

                            .k {
                                color: var(--Text-Light, #718EBF);
                                text-align: right;
                                font-family: "Red Hat Display";
                                font-size: 0.6934375rem;
                                font-style: normal;
                                font-weight: 400;
                            }
                        }

                        .statbox {
                            width: 16.3125rem;
                            height: 6.25rem;
                            background-color: #ffffff;
                            display: flex;
                            align-items: flex-end;
                            padding-left: 0.375rem;

                            .days {
                                color: var(--Text-Light, #718EBF);
                                text-align: center;
                                font-family: 'Red Hat Display';
                                font-size: 0.6934375rem;
                                font-style: normal;
                                font-weight: 400;
                                width: 1.75rem;
                                margin: 0 0.1875rem;

                                span {
                                    border-radius: 0.26rem 0.26rem 0rem 0;
                                    background: var(--Pallet-4-Grey, #E8F2FF);
                                }

                                .sun1 {
                                    display: inline-block;
                                    width: 1.75rem;
                                    height: 1.03125rem;
                                }

                                .mon1 {
                                    display: inline-block;
                                    width: 1.75rem;
                                    height: 1.5601875rem;
                                }

                                .tue1 {
                                    display: inline-block;
                                    width: 1.75rem;
                                    height: 3.6404375rem;
                                }

                                .wed1 {
                                    display: inline-block;
                                    width: 1.75rem;
                                    height: 2.687rem;
                                    background: var(--Pallet-4-Primary, #3734A9);
                                }

                                .thus1 {
                                    display: inline-block;
                                    width: 1.75rem;
                                    height: 5.1139375rem;
                                    background: var(--Pallet-4-Primary, #3734A9);
                                }

                                .fri1 {
                                    display: inline-block;
                                    width: 1.75rem;
                                    height: 1.040125rem;
                                }

                                .sat1 {
                                    display: inline-block;
                                    width: 1.75rem;
                                    height: 2.6875rem;
                                }

                                .sun2 {
                                    display: inline-block;
                                    width: 1.75rem;
                                    height: 3.987125rem;
                                    background: var(--Pallet-4-Primary, #3734A9);

                                }


                            }
                        }
                    }
                }

                .handright {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }


}

.feature {
    padding: 9.125rem 7.3125rem 8.5625rem 7.6875rem;
    position: relative;
    display: flex;
    background: #C9E7F2;

    .horizontaldash {
        bottom: 5.9375rem;
        left: 0;
        position: absolute;
    }

    .feature-heading {

        h2 {
            color: #000;
            font-family: Manrope;
            font-size: 4.4375rem;
            font-style: normal;
            font-weight: 800;
            /* 92.958% */
            letter-spacing: -2.13px;
            padding-bottom: 2.3125rem;
        }

        p {
            color: #000;
            font-family: Manrope;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.8125rem;
            /* 181.25% */
            letter-spacing: -0.32px;
            width: 34.8125rem;
        }

        .feature-container {
            display: flex;
            gap: 1.9375rem;
            margin-top: 3.1875rem;

            .feature-card {
                width: 23.75rem;
                height: 21.125rem;
                flex-shrink: 0;
                border-radius: 0.625rem;
                border: 0.0625rem solid #ABC8D2;
                background: #FFF;
                display: flex;
                flex-direction: column;
                padding: 2.6875rem 3.161875rem 2.6875rem 1.9375rem;
                gap: 1.875rem;

                .orangefile {
                    width: 3.455rem;
                    height: 2.8125rem;

                }

                h3 {
                    color: #000;

                    font-family: Manrope;
                    font-size: 1.375rem;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 2.1875rem;
                    /* 159.091% */
                    letter-spacing: -0.66px;
                }

                p {
                    width: 18.6875rem;
                }
            }

            .text-box {
                width: 23.75rem;
                height: 21.125rem;
                display: flex;
                flex-direction: column;
                gap: 1.9375rem;

                .rect-text {
                    display: flex;
                    background-color: #FFF;
                    width: 23.75rem;
                    padding: 0.5rem;
                    text-align: center;
                    height: 9.5625rem;
                    border-radius: 0.625rem;
                    border: 0.0625rem solid #ABC8D2;
                    color: #000;
                    font-family: Manrope;
                    font-size: 1.375rem;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 2.1875rem;
                    /* 159.091% */
                    letter-spacing: -0.66px;
                    justify-content: center;
                    align-items: center;

                }
            }
        }
    }
}

#testimonial {
    overflow: hidden;
    padding: 9.375rem 0 9.375rem 7.4375rem;
    position: relative;

    .testimonial-heading {
        margin-bottom: 4.625rem;

        h2 {
            color: #000;
            font-family: Manrope;
            font-size: 4.4375rem;
            font-style: normal;
            font-weight: 800;
            letter-spacing: -2.13px;
            margin-bottom: 2.3125rem;
        }

        p {
            width: 35.625rem;
            color: #000;
            font-family: Manrope;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.8125rem;
            /* 181.25% */
            letter-spacing: -0.32px;
        }

        .swingsvg {
            position: absolute;
            top: 13.4375rem;
            right: 8rem;
        }
    }

    .testimonial-container {
        display: flex;

    }

    .boy {
        position: relative;
        left: 4.9375rem;
    }

    .testimonial-card {
        display: flex;
        position: relative;
        width: 43.6875rem;
        height: 25rem;
        border-radius: 0.625rem;
        border: 0.0625rem solid #CFCFCF;
        background: #FFF;
        align-items: center;
        justify-content: center;

        .quoteicon {
            position: absolute;
            top: -1.5rem;
            left: 2.6875rem;
        }

        .testimonial-text {
            h4 {
                width: 23rem;
                color: #000;
                font-family: Manrope;
                font-size: 1.5625rem;
                font-style: normal;
                font-weight: 600;
                line-height: 2.25rem;
                /* 144% */
                letter-spacing: -0.5px;
                padding-right: 1.625rem;
            }

            p {
                color: #000;
                font-family: Manrope;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 600;
                line-height: 1.375rem;
                /* 110% */
                letter-spacing: -0.4px;
                margin-top: 2.5625rem;
            }
        }

        .girltestimonial {
            -o-object-fit: contain;
            object-fit: contain;
            width: 15rem;
            height: 21.875rem;
            position: relative;
            left: 1.125rem;
        }

    }
}

.company-stats {
    background: var(--Pallet-4-Primary, #3734A9);
    display: flex;
    overflow: hidden;

    .stats-text {
        text-align: right;
        width: 8.9375rem;
        color: #FFF;
        font-family: Manrope;
        font-size: 1.1875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.9375rem;
        /* 163.158% */
        margin: 5.125rem 2.1875rem 5.0625rem 9.3125rem;
        letter-spacing: -0.38px;
    }

    .statistics {
        display: flex;
        align-items: center;
        gap: 5.8125rem;
        padding-left: 4.375rem;
        border-left: 0.125rem solid #3D3D3D;
        ;

        .users {
            .m {
                color: #FFF;
                font-family: Manrope;
                font-size: 4.5rem;
                font-style: normal;
                font-weight: 800;
                line-height: 4.5rem;
                /* 100% */
                letter-spacing: -1.44px;
            }

            .active-users {
                margin-top: 1.3125rem;
                color: #FFF;
                font-family: Manrope;
                font-size: 1.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.9375rem;
                /* 103.333% */
                letter-spacing: -0.6px;
            }
        }

        .weirdshape {
            position: relative;
            left: 8.5rem;
        }
    }
}

.blogs {
    margin: 9.3125rem 7.375rem 9.375rem 7.4375rem;

    .recent-blogs {
        color: #000;
        font-family: Manrope;
        font-size: 4.4375rem;
        font-style: normal;
        font-weight: 800;
        line-height: 4.125rem;
        /* 92.958% */
        letter-spacing: -2.13px;
        margin-bottom: 4.5rem;
    }

    .blog-banner {
        display: flex;
        justify-content: space-between;
        background-color: #FFF;

        .banner-text {
            color: #000;
            font-family: Manrope;
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2.25rem;
            /* 225% */
            letter-spacing: 1.0.75rem;
            padding: 2.125rem 1.75rem;

            .title {
                font-size: 1.8125rem;
                font-weight: 700;
                letter-spacing: -0.58px;
                width: 32.75rem;
                margin: 0.625rem 0 3.625rem 0;
            }

            a {
                color: var(--Pallet-1-Dark, #1B1C31);
                font-family: Manrope;
                font-size: 1rem;
                font-style: normal;
                font-weight: 600;
            }


        }

        .banner-img {
            width: 31.1875rem;
            height: 17.8125rem;
            border-radius: 0rem 0.625rem 0.625rem 0;
        }
    }

    .blog-container {
        display: flex;
        padding-top: 1.8125rem;
        justify-content: space-between;

        .blog-cards {
            color: #000;
            font-family: Manrope;
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 1.12px;
            width: 23.875rem;
            height: 30.3rem;
            background-color: #FFF;
            padding-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                padding-left: 2rem;
            }

            .title {
                font-size: 1.8125rem;
                font-weight: 700;
                letter-spacing: -0.3.625rem;
                width: 21.25rem;
                margin: 0.625rem 0 3.625rem 0;
            }
        }
    }
}

.faq {
    display: flex;
    justify-content: space-between;

    .swirl-container {
        img {
            position: relative;
            top: 6.25rem;
        }
    }

    .faq-section {
        display: flex;
        align-items: center;

        .faq-part {
            color: #000;
            font-family: Manrope;
            width: 75.625rem;

            .faq-heading {
                font-size: 4.4375rem;
                font-style: normal;
                font-weight: 800;
                line-height: 4.75rem;
                /* 107.042% */
                letter-spacing: -2.13px;
            }

            .uniter {
                display: flex;
                align-items: flex-start;
                gap: 3.125rem;
                margin-top: 4.5rem;

                .faq-container {
                    display: flex;
                    flex-direction: column;
                    gap: 1.25rem;

                    .faq-card {
                        width: 46.9375rem;
                        padding: 1.5625rem 1.4375rem;
                        border-radius: 0.625rem;
                        border: 0.0625rem solid #CFCFCF;
                        background: #FFF;

                        .faq-question {
                            display: flex;
                            gap: 5.625rem;

                            p {
                                color: #000;
                                font-family: Manrope;
                                font-size: 1.375rem;
                                font-style: normal;
                                font-weight: 800;
                                line-height: 1.375rem;
                                /* 100% */

                            }
                        }
                    }
                }
            }
        }

        .email {
            width: 25.0625rem;
            height: 28.8125rem;
            flex-shrink: 0;
            border-radius: 0.625rem;
            border: 0.0625rem solid #CFCFCF;
            background: #FFF;
            text-align: center;

            img {
                width: 4.1875rem;
                height: 3.9375rem;
                margin: 2.8125rem 0;
            }

            .more-question {
                color: #000;
                font-family: Manrope;
                font-size: 1.375rem;
                font-style: normal;
                font-weight: 800;
                line-height: 1.375rem;
                /* 100% */
            }

            .solution {
                width: 20.8125rem;
                color: #000;
                text-align: center;
                font-family: Manrope;
                font-size: 1rem;
                font-style: normal;
                font-weight: 600;
                line-height: 1.9375rem;
                /* 193.75% */
                letter-spacing: -0.32px;
                margin: 1.4375rem auto;
            }

            .btn {
                margin: 2rem;
                width: 85%;
                height: 4.75rem;
                color: #FFF;
                cursor: pointer;
                text-align: center;
                font-family: Manrope;
                font-size: 1rem;
                font-style: normal;
                font-weight: 600;
                background: var(--Pallet-4-Accent, #FF7F5C);
                border: 0;
            }
        }
    }

    .star-container {
        img {
            position: relative;
            bottom: 2.5rem;
        }
    }
}

footer {
    padding: 9.375rem 4.6875rem 0 4.6875rem;

    .footer-banner {
        margin: auto;
        text-align: center;
        border-radius: 1.25rem;
        background: var(--Pallet-4-Primary, #3734A9);
        width: 75rem;
        height: 27.375rem;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            width: 47.6875rem;
            color: #FFF;
            text-align: center;
            font-family: Manrope;
            font-size: 3.5rem;
            font-style: normal;
            font-weight: 800;
            line-height: 3.8125rem;
            /* 108.929% */
            letter-spacing: -1.68px;
            margin: 3.125rem auto;
        }

        .cta {
            button {
                width: 13.9375rem;
                height: 4.1875rem;
                flex-shrink: 0;
                border-radius: 0.625rem;
                background: var(--Pallet-4-Accent, #FF7F5C);
                border: 0;
                color: #FFF;
                text-align: center;
                font-family: Manrope;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.875rem;
                /* 166.667% */
                letter-spacing: -0.36px;
            }
        }
    }

    .footer-menu {
        width: 75.125rem;
        height: 17.8125rem;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 9.375rem;

        .intro {
            display: flex;
            flex-direction: column;
            gap: 1.125rem;

            .company-name {
                a {
                    color: var(--Pallet-1-Dark, #1B1C31);
                    font-family: 'Red Hat Display';
                    font-size: 1.3125rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1.75rem;
                    /* 133.333% */
                    letter-spacing: -0.42px;
                }
            }

            .tagline {
                width: 13.3125rem;
                color: #757095;
                font-family: Manrope;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.75rem;
                /* 175% */
                letter-spacing: -0.02rem;
            }

            .connect {
                img {
                    padding-right: 0.625rem;
                }
            }
        }

        .menu {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .menu-name {
                color: #181433;
                font-family: Manrope;
                font-size: 1.3125rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.5rem;
                /* 114.286% */
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 1.125rem;
                list-style: none;

                li {
                    a {
                        text-decoration: none;
                        color: #181433;
                        font-family: Manrope;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 1.5rem;
                        /* 150% */
                    }
                }
            }
        }

        .resources {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .resource {
                color: #181433;
                font-family: Manrope;
                font-size: 1.3125rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.5rem;
                /* 114.286% */
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 0.3125rem;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: #181433;
                        font-family: Manrope;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 1.5rem;
                    }
                }
            }
        }

        .newsletter {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .join {
                color: #181433;
                font-family: Manrope;
                font-size: 1.3125rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.5rem;
                /* 114.286% */
            }

            .subscribe {
                width: 24.3125rem;

                input {
                    height: 3.25rem;
                    flex-shrink: 0;
                    background: #EEF;
                    color: #181433;
                    font-family: Manrope;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.625rem;
                    /* 162.5% */
                    letter-spacing: -0.32px;
                    border: 0;
                }

                button {
                    border: 0;
                    width: 9.3125rem;
                    height: 3.25rem;
                    flex-shrink: 0;
                    background: var(--Pallet-4-Primary, #3734A9);
                    color: #FFF;
                    font-family: Manrope;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.625rem;
                    /* 162.5% */
                    letter-spacing: -0.32px;
                }
            }

            .updates {
                color: #181433;
                font-family: Manrope;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.625rem;
                width: 20.4375rem;
                letter-spacing: -0.32px;
                opacity: 0.5;
            }
        }
    }

    .divider {
        width: 75rem;
        height: 0.125rem;
        flex-shrink: 0;
        background: #E5E5EA;
        margin: auto;
    }

    .copyright {
        color: #181433;
        text-align: center;
        font-family: Manrope;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.625rem;
        /* 162.5% */
        letter-spacing: -0.32px;
        margin: 3.125rem auto;
    }
}

// utility classes
.flex-vertcenter {
    display: flex;
    align-items: center;
}

.text-decoration {
    text-decoration: none;
}

.section-heading-utility {
    color: #000;
    font-family: Manrope;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 800;
    padding: 0.6rem 0;
    width: 30.625rem;
    letter-spacing: -1.5px;
}

.why-choose-us {
    color: var(--Pallet-4-Primary, #3734A9);
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

::placeholder {
    opacity: 0.2;
    color: #181433;
    font-family: Manrope;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem;
    /* 162.5% */
    letter-spacing: -0.32px;
    border: 0;
}