@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red Hat Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: #FAFBFF;
}

.section1 {
  background: linear-gradient(292.12deg, #62BADA -35.02%, #C9E7F2 78.96%);
  height: 55em;
  position: relative;
  overflow: hidden;
}
.section1 .navbar {
  display: flex;
  justify-content: space-around;
  padding: 38px 0;
  align-items: center;
}
.section1 .navbar .logoname {
  font-family: "Red Hat Display";
  font-size: 17px;
}
.section1 .navbar .menu {
  width: 350px;
  display: flex;
  justify-content: center;
}
.section1 .navbar .menu .menu-items {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-around;
}
.section1 .navbar .menu .menu-items .dropdown {
  display: flex;
  gap: 15px;
}
.section1 .navbar li a {
  text-decoration: none;
  color: black;
  font-family: manrope;
  font-size: 14px;
  font-weight: 500;
}
.section1 .navbar .signup {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 .navbar .signup a {
  color: black;
  font-family: manrope;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}
.section1 .navbar .signup .menu-btn {
  width: 137px;
  height: 52px;
  display: flex;
  background: var(--Pallet-3-Primary, #4F46BA);
  color: white;
  justify-content: center;
  align-items: center;
}
.section1 .content {
  display: flex;
  max-height: 82%;
  position: relative;
  justify-content: space-between;
}
.section1 .content .dotted-left {
  display: flex;
  align-items: flex-end;
  margin: 0px 1em 0em 0;
}
.section1 .content .content-text {
  width: 40.375em;
  padding: 1.1em 0;
}
.section1 .content .content-text h1 {
  width: 100%;
  font-family: Manrope;
  font-size: 3.75em;
  font-weight: 900;
  margin-top: 1.1em;
  letter-spacing: -1.8px;
}
.section1 .content .content-text .subtext {
  width: 80%;
  font-family: Manrope;
  font-size: 1.25em;
  color: #64607D;
  font-weight: 500;
  margin-top: 1.9em;
  letter-spacing: -0.4px;
}
.section1 .content .content-text .content-btn {
  display: flex;
  align-items: center;
  margin: 4.5625em 0;
  gap: 3em;
}
.section1 .content .content-text .content-btn .blue-btn {
  color: white;
  background-color: #3734A9;
  padding: 0.9375em 2.375em;
  font-family: Manrope;
  border-radius: 2.9375em;
  letter-spacing: -0.32px;
}
.section1 .content .content-text .content-btn .see-link {
  font-family: Manrope;
  font-size: 17px;
  color: var(--Pallet-4-Primary, #3734A9);
  font-weight: 500;
  gap: 11px;
  letter-spacing: -0.34px;
}
.section1 .content .content-text .checkboxes {
  display: flex;
  gap: 40px;
}
.section1 .content .content-text .checkboxes p {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #757095;
  font-family: Manrope;
  font-size: 17px;
  letter-spacing: -0.34px;
}
.section1 .content .content-img {
  position: relative;
  left: 11px;
}
.section1 .content .content-img .lefthand {
  position: absolute;
  top: 18px;
  left: -75px;
  z-index: 10;
}
.section1 .content .content-img .dashsvg {
  position: absolute;
  top: 480px;
  left: 161px;
  z-index: 5;
}
.section1 .content .content-img .righthand {
  position: relative;
  top: 190px;
  left: 0px;
}
.section1 .content .dotted-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.section1 .content .dotted-right .crossright {
  width: 126.136px;
  height: 113.988px;
  right: -195px;
  top: 70px;
  flex-shrink: 0;
  position: relative;
}
.section1 .content .dotted-right .bluefill {
  width: 300.869px;
  height: 218.359px;
  flex-shrink: 0;
  position: relative;
  right: -100px;
  top: 173px;
}

.clients {
  background: #F5F6F8;
  padding: 64px 0 77px 0;
}
.clients .clients-text {
  font-family: manrope;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  padding-bottom: 50px;
}
.clients .clients-logos {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.clients .clients-logos img {
  -o-object-fit: contain;
     object-fit: contain;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 95px 155px 0px 155px;
}
.section2 .section-heading {
  display: flex;
  display: flex;
  gap: 85px;
}
.section2 .section-heading .heading h2 {
  width: 606px;
  padding: 0 45px 12px 0;
  font-family: Manrope;
  font-size: 56px;
  font-weight: 800;
}
.section2 .section-heading .heading p {
  width: 449px;
  font-family: Manrope;
  font-weight: 500;
}
.section2 .section-heading .testemonial {
  width: 402px;
  height: 205px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(196, 196, 196, 0.2705882353);
  position: relative;
  padding: 38px 34px;
}
.section2 .section-heading .testemonial img {
  position: relative;
  bottom: 60px;
  opacity: 1;
}
.section2 .section-heading .testemonial .quote-text {
  margin-top: -36px;
  opacity: 1;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.3px;
}
.section2 .section-heading .testemonial .quote-author {
  margin-top: 22px;
  opacity: 1;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.3px;
}
.section2 .value-props {
  display: flex;
  width: 1200px;
  margin-top: 75px;
  gap: 30px;
}
.section2 .value-props .prop-card {
  border-radius: 20px;
  border: 1px solid #DBE4E9;
  background: #FFF;
  width: 380px;
  height: 382px;
  flex-shrink: 0;
  padding: 1.3em;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.section2 .value-props .prop-card .id {
  color: #000;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
}
.section2 .value-props .prop-card img {
  margin: 1.7em 1.5em 1em 1.5em;
  width: 50px;
  height: 45px;
  flex-shrink: 0;
  align-self: center;
}
.section2 .value-props .prop-card h3 {
  width: 276px;
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 30px;
  font-weight: 800;
  align-self: center;
  letter-spacing: -0.9px;
}
.section2 .value-props .prop-card .subtext {
  align-self: center;
  width: 270px;
  color: #757095;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 185.714% */
  letter-spacing: -0.28px;
}
.section2 .section-content {
  position: relative;
  display: flex;
  padding-top: 90px;
  gap: 160px;
}
.section2 .section-content .usercard {
  width: 531px;
  height: 500px;
  flex-shrink: 0;
  background-color: #dcf3fc;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 20px;
  padding-top: 55px;
}
.section2 .section-content .usercard .paymentbox {
  padding-left: 20px;
  width: 433px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.01), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.02), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);
  display: flex;
  align-items: center;
  gap: 10px;
}
.section2 .section-content .usercard .paymentbox img {
  -o-object-fit: contain;
     object-fit: contain;
}
.section2 .section-content .usercard .paymentbox .payment .amount {
  color: var(--Pallet-4-Primary, #3734A9);
  font-family: "Red Hat Display";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  border-radius: 30px;
  padding: 5px 14px;
  background: var(--Pallet-4-Primary, rgba(56, 52, 169, 0.21));
  width: fit-content;
  width: -moz-fit-content;
}
.section2 .section-content .usercard .paymentbox .payment .recieved-text {
  color: #757095;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  /* 214.286% */
  letter-spacing: -0.28px;
}
.section2 .section-content .usercard #user1 {
  position: relative;
  left: 60px;
}
.section2 .section-content .usercard #user2 {
  position: relative;
  left: 164px;
}
.section2 .section-content .usercard #user3 {
  position: relative;
  left: 110px;
}
.section2 .section-content .usercard #user4 {
  position: relative;
  left: 40px;
}
.section2 .section-content .circlesvg {
  position: absolute;
  top: 73px;
  right: 632px;
}
.section2 .section-content .content p {
  color: #505887;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  width: 446px;
  letter-spacing: -0.36px;
}
.section2 .section-content .content .line {
  width: 490px;
  height: 2px;
  flex-shrink: 0;
  background: #C4C4C4;
  margin: 23px 0;
}
.section2 .section-content .content .checkbox-yellow {
  display: flex;
  gap: 5px;
  padding: 7px 0;
}
.section2 .section-content2 {
  display: flex;
  padding: 198px 0 96px 0;
  position: relative;
  justify-content: space-between;
  width: 100%;
}
.section2 .section-content2 .content .testemonial {
  width: 505px;
  height: 165px;
  border-radius: 20px;
  background: rgba(196, 196, 196, 0.2705882353);
  position: relative;
  padding: 38px 34px;
  margin-top: 56px;
}
.section2 .section-content2 .content .testemonial img {
  position: relative;
  bottom: 60px;
  opacity: 1;
}
.section2 .section-content2 .content .testemonial .quote-text {
  margin-top: -36px;
  opacity: 1;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  letter-spacing: -0.3px;
  color: #000;
}
.section2 .section-content2 .content .testemonial .quote-author {
  margin-top: 22px;
  opacity: 1;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.3px;
  color: #000;
}
.section2 .section-content2 .content p {
  color: #505887;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  width: 414px;
  letter-spacing: -0.36px;
}
.section2 .section-content2 .graphics {
  display: flex;
  width: 516px;
  position: relative;
}
.section2 .section-content2 .graphics .dash {
  position: absolute;
  left: -40px;
  top: 45px;
  z-index: 7;
}
.section2 .section-content2 .graphics .graphics-container {
  width: 486px;
  height: 540px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #DBF1FA;
  position: relative;
}
.section2 .section-content2 .graphics .graphics-container .stats {
  position: absolute;
  width: 337px;
  height: 232.988px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 2.568px 4.366px 0px rgba(0, 0, 0, 0.01), 0px 11.3px 9.04px 0px rgba(0, 0, 0, 0.01), 0px 27.737px 18.029px 0px rgba(0, 0, 0, 0.01), 0px 53.419px 35.339px 0px rgba(0, 0, 0, 0.02), 0px 89.887px 64.976px 0px rgba(0, 0, 0, 0.02), 0px 138.683px 110.947px 0px rgba(0, 0, 0, 0.03);
  z-index: 5;
  bottom: 84px;
  left: -86px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 23px 19px;
}
.section2 .section-content2 .graphics .graphics-container .stats .balance .total-balance {
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.section2 .section-content2 .graphics .graphics-container .stats .balance .dollar-balance {
  color: #000;
  font-family: Manrope;
  font-size: 22.189px;
  font-style: normal;
  font-weight: 700;
}
.section2 .section-content2 .graphics .graphics-container .stats .balance .dollar-balance .growth {
  color: var(--Pallet-4-Secondary, #00E1F0);
  font-family: Manrope;
  font-size: 18.029px;
  font-style: normal;
  font-weight: 500;
}
.section2 .section-content2 .graphics .graphics-container .stats .stat {
  display: flex;
  align-items: flex-end;
}
.section2 .section-content2 .graphics .graphics-container .stats .stat .ks {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding-bottom: 15px;
}
.section2 .section-content2 .graphics .graphics-container .stats .stat .ks .k {
  color: var(--Text-Light, #718EBF);
  text-align: right;
  font-family: "Red Hat Display";
  font-size: 11.095px;
  font-style: normal;
  font-weight: 400;
}
.section2 .section-content2 .graphics .graphics-container .stats .stat .statbox {
  width: 261px;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  align-items: flex-end;
  padding-left: 6px;
}
.section2 .section-content2 .graphics .graphics-container .stats .stat .statbox .days {
  color: var(--Text-Light, #718EBF);
  text-align: center;
  font-family: "Red Hat Display";
  font-size: 11.095px;
  font-style: normal;
  font-weight: 400;
  width: 28px;
  margin: 0 3px;
}
.section2 .section-content2 .graphics .graphics-container .stats .stat .statbox .days span {
  border-radius: 4.16px 4.16px 0px 0px;
  background: var(--Pallet-4-Grey, #E8F2FF);
}
.section2 .section-content2 .graphics .graphics-container .stats .stat .statbox .days .sun1 {
  display: inline-block;
  width: 28px;
  height: 16.5px;
}
.section2 .section-content2 .graphics .graphics-container .stats .stat .statbox .days .mon1 {
  display: inline-block;
  width: 28px;
  height: 24.963px;
}
.section2 .section-content2 .graphics .graphics-container .stats .stat .statbox .days .tue1 {
  display: inline-block;
  width: 28px;
  height: 58.247px;
}
.section2 .section-content2 .graphics .graphics-container .stats .stat .statbox .days .wed1 {
  display: inline-block;
  width: 28px;
  height: 42.992px;
  background: var(--Pallet-4-Primary, #3734A9);
}
.section2 .section-content2 .graphics .graphics-container .stats .stat .statbox .days .thus1 {
  display: inline-block;
  width: 28px;
  height: 81.823px;
  background: var(--Pallet-4-Primary, #3734A9);
}
.section2 .section-content2 .graphics .graphics-container .stats .stat .statbox .days .fri1 {
  display: inline-block;
  width: 28px;
  height: 16.642px;
}
.section2 .section-content2 .graphics .graphics-container .stats .stat .statbox .days .sat1 {
  display: inline-block;
  width: 28px;
  height: 42.992px;
}
.section2 .section-content2 .graphics .graphics-container .stats .stat .statbox .days .sun2 {
  display: inline-block;
  width: 28px;
  height: 63.794px;
  background: var(--Pallet-4-Primary, #3734A9);
}
.section2 .section-content2 .graphics .graphics-container .handright {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.feature {
  padding: 146px 117px 137px 123px;
  position: relative;
  display: flex;
  background: #C9E7F2;
}
.feature .horizontaldash {
  bottom: 95px;
  left: 0;
  position: absolute;
}
.feature .feature-heading h2 {
  color: #000;
  font-family: Manrope;
  font-size: 71px;
  font-style: normal;
  font-weight: 800;
  line-height: 66px;
  /* 92.958% */
  letter-spacing: -2.13px;
  padding-bottom: 37px;
}
.feature .feature-heading p {
  color: #000;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  /* 181.25% */
  letter-spacing: -0.32px;
  width: 557px;
}
.feature .feature-heading .feature-container {
  display: flex;
  gap: 31px;
  margin-top: 51px;
}
.feature .feature-heading .feature-container .feature-card {
  width: 380px;
  height: 338px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #ABC8D2;
  background: #FFF;
  display: flex;
  flex-direction: column;
  padding: 43px 50.59px 43px 31px;
  gap: 30px;
}
.feature .feature-heading .feature-container .feature-card .orangefile {
  width: 55.28px;
  height: 45px;
}
.feature .feature-heading .feature-container .feature-card h3 {
  color: #000;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 35px;
  /* 159.091% */
  letter-spacing: -0.66px;
}
.feature .feature-heading .feature-container .feature-card p {
  width: 299px;
}
.feature .feature-heading .feature-container .text-box {
  width: 380px;
  height: 338px;
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.feature .feature-heading .feature-container .text-box .rect-text {
  display: flex;
  background-color: #FFF;
  width: 380px;
  height: 153px;
  border-radius: 10px;
  border: 1px solid #ABC8D2;
  color: #000;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 35px;
  /* 159.091% */
  letter-spacing: -0.66px;
  justify-content: center;
  align-items: center;
}

.flex-vertcenter {
  display: flex;
  align-items: center;
}

.text-decoration {
  text-decoration: none;
}

.section-heading-utility {
  color: #000;
  font-family: Manrope;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  padding: 20px 0;
  width: 490px;
  letter-spacing: -1.5px;
}

.why-choose-us {
  color: var(--Pallet-4-Primary, #3734A9);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}/*# sourceMappingURL=styles.css.map */