@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Red+Hat+Display:wght@700&family=Roboto+Mono:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section1 {
  background: linear-gradient(292.12deg, #62BADA -35.02%, #C9E7F2 78.96%);
  height: 55em;
  position: relative;
  overflow: hidden;
}
.section1 .navbar {
  display: flex;
  justify-content: space-around;
  padding: 38px 0;
  align-items: center;
}
.section1 .navbar .logoname {
  font-family: "Red Hat Display";
  font-size: 20px;
}
.section1 .navbar .menu {
  width: 350px;
  display: flex;
  justify-content: center;
}
.section1 .navbar .menu .menu-items {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-around;
}
.section1 .navbar .menu .menu-items .dropdown {
  display: flex;
  gap: 15px;
}
.section1 .navbar li a {
  text-decoration: none;
  color: black;
  font-family: manrope;
  font-size: 14px;
}
.section1 .navbar .signup {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 .navbar .signup a {
  color: black;
  font-family: manrope;
  font-size: 14px;
  text-decoration: none;
}
.section1 .navbar .signup .menu-btn {
  width: 137px;
  height: 52px;
  display: flex;
  background: var(--Pallet-3-Primary, #4F46BA);
  color: white;
  justify-content: center;
  align-items: center;
}
.section1 .content {
  display: flex;
  max-height: 82%;
  position: relative;
  justify-content: space-between;
}
.section1 .content .dotted-left {
  display: flex;
  align-items: flex-end;
  margin: 0 2em 3em 0;
}
.section1 .content .content-text {
  width: 40.375em;
  padding: 1.1em;
}
.section1 .content .content-text h1 {
  width: 100%;
  font-family: Manrope;
  font-size: 3.3em;
  font-weight: 900;
  margin-top: 1.1em;
}
.section1 .content .content-text .subtext {
  width: 80%;
  font-family: Manrope;
  font-size: 1.25em;
  color: #64607D;
  font-weight: 500;
  margin-top: 1.9em;
}
.section1 .content .content-text .content-btn {
  display: flex;
  align-items: center;
  margin: 4.5625em 0;
  gap: 3em;
}
.section1 .content .content-text .content-btn .blue-btn {
  color: white;
  background-color: #3734A9;
  padding: 0.9375em 2.375em;
  font-family: Manrope;
  border-radius: 2.9375em;
}
.section1 .content .content-text .content-btn .see-link {
  font-family: Manrope;
  font-size: 17px;
  color: var(--Pallet-4-Primary, #3734A9);
  font-weight: 500;
  gap: 11px;
}
.section1 .content .content-text .checkboxes {
  display: flex;
  gap: 40px;
}
.section1 .content .content-text .checkboxes p {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #757095;
  font-family: Manrope;
  font-size: 17px;
}
.section1 .content .content-img {
  position: relative;
}
.section1 .content .content-img .lefthand {
  position: absolute;
  top: 18px;
  left: -75px;
  z-index: 10;
}
.section1 .content .content-img .dashsvg {
  position: absolute;
  top: 480px;
  left: 161px;
  z-index: 5;
}
.section1 .content .content-img .righthand {
  position: relative;
  top: 190px;
  left: 0px;
}
.section1 .content .dotted-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.section1 .content .dotted-right .crossright {
  width: 126.136px;
  height: 113.988px;
  right: -195px;
  top: 70px;
  flex-shrink: 0;
  position: relative;
}
.section1 .content .dotted-right .bluefill {
  width: 300.869px;
  height: 218.359px;
  flex-shrink: 0;
  position: relative;
  right: -100px;
  top: 173px;
}

.flex-vertcenter {
  display: flex;
  align-items: center;
}

.text-decoration {
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */